<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ret</key>
	<integer>0</integer>
	<key>msg</key>
	<string>ok</string>
	<key>datas</key>
	<array>
		<array>
			<real>20160405</real>
			<real>1244.646</real>
			<real>1246.446</real>
			<real>1246.573</real>
			<real>1242.017</real>
			<integer>68268519</integer>
		</array>
		<array>
			<integer>20160406</integer>
			<real>1246.446</real>
			<real>1248.746</real>
			<real>1248.908</real>
			<real>1244.156</real>
			<integer>80705472</integer>
		</array>
		<array>
			<integer>20160407</integer>
			<real>1248.668</real>
			<real>1247.596</real>
			<real>1248.668</real>
			<real>1244.496</real>
			<integer>74355907</integer>
		</array>
		<array>
			<integer>20160408</integer>
			<real>1247.596</real>
			<real>1247.171</real>
			<real>1247.643</real>
			<real>1243.53</real>
			<integer>78001991</integer>
		</array>
		<array>
			<integer>20160411</integer>
			<real>1247.138</real>
			<real>1251.013</real>
			<real>1251.013</real>
			<real>1246.741</real>
			<integer>86284619</integer>
		</array>
		<array>
			<integer>20160412</integer>
			<real>1250.888</real>
			<real>1248.91</real>
			<real>1250.908</real>
			<real>1245.512</real>
			<integer>78141093</integer>
		</array>
		<array>
			<integer>20160413</integer>
			<real>1248.91</real>
			<real>1250.766</real>
			<real>1250.766</real>
			<real>1245.998</real>
			<integer>102257156</integer>
		</array>
		<array>
			<integer>20160414</integer>
			<real>1250.766</real>
			<real>1246.177</real>
			<real>1250.766</real>
			<real>1243.436</real>
			<integer>89371703</integer>
		</array>
		<array>
			<integer>20160415</integer>
			<real>1246.16</real>
			<real>1247.45</real>
			<real>1247.45</real>
			<real>1243.932</real>
			<integer>95280603</integer>
		</array>
		<array>
			<integer>20160418</integer>
			<real>1247.45</real>
			<real>1247.991</real>
			<real>1247.991</real>
			<real>1244.342</real>
			<integer>82595889</integer>
		</array>
		<array>
			<integer>20160419</integer>
			<real>1247.939</real>
			<real>1251.878</real>
			<real>1251.878</real>
			<real>1247.03</real>
			<integer>98822298</integer>
		</array>
		<array>
			<integer>20160420</integer>
			<real>1251.779</real>
			<real>1245.675</real>
			<real>1252.094</real>
			<real>1241.208</real>
			<integer>144985004</integer>
		</array>
		<array>
			<integer>20160421</integer>
			<real>1245.654</real>
			<real>1246.405</real>
			<real>1246.432</real>
			<real>1243.53</real>
			<integer>66180186</integer>
		</array>
		<array>
			<integer>20160422</integer>
			<real>1246.13</real>
			<real>1246.203</real>
			<real>1246.203</real>
			<real>1241.584</real>
			<integer>70972441</integer>
		</array>
		<array>
			<integer>20160425</integer>
			<real>1246.149</real>
			<real>1243.047</real>
			<real>1247.606</real>
			<real>1239.417</real>
			<integer>79797489</integer>
		</array>
		<array>
			<integer>20160426</integer>
			<real>1243.047</real>
			<real>1242.331</real>
			<real>1243.228</real>
			<real>1239.096</real>
			<integer>67658995</integer>
		</array>
		<array>
			<integer>20160427</integer>
			<real>1242.209</real>
			<real>1240.781</real>
			<real>1242.471</real>
			<real>1238.205</real>
			<integer>69030814</integer>
		</array>
		<array>
			<integer>20160428</integer>
			<real>1240.759</real>
			<real>1240.018</real>
			<real>1241.062</real>
			<real>1234.56</real>
			<integer>85067897</integer>
		</array>
		<array>
			<integer>20160429</integer>
			<real>1239.958</real>
			<real>1242.506</real>
			<real>1242.506</real>
			<real>1236.969</real>
			<integer>69985319</integer>
		</array>
		<array>
			<integer>20160503</integer>
			<real>1241.942</real>
			<real>1239.174</real>
			<real>1241.942</real>
			<real>1236.656</real>
			<integer>79088465</integer>
		</array>
		<array>
			<integer>20160504</integer>
			<real>1239.174</real>
			<real>1233.227</real>
			<real>1239.285</real>
			<real>1231.337</real>
			<integer>66223914</integer>
		</array>
		<array>
			<integer>20160505</integer>
			<real>1233.054</real>
			<real>1230.16</real>
			<real>1233.054</real>
			<real>1226.581</real>
			<integer>54282262</integer>
		</array>
		<array>
			<integer>20160506</integer>
			<real>1229.928</real>
			<real>1226.734</real>
			<real>1229.928</real>
			<real>1221.914</real>
			<integer>85032195</integer>
		</array>
		<array>
			<integer>20160510</integer>
			<real>1211.988</real>
			<real>1207.45</real>
			<real>1212.214</real>
			<real>1204.408</real>
			<integer>47353598</integer>
		</array>
		<array>
			<integer>20160511</integer>
			<real>1207.402</real>
			<real>1201.635</real>
			<real>1207.487</real>
			<real>1200.283</real>
			<integer>57396959</integer>
		</array>
		<array>
			<integer>20160512</integer>
			<real>1201.091</real>
			<real>1198.022</real>
			<real>1201.39</real>
			<real>1195.752</real>
			<integer>47733408</integer>
		</array>
		<array>
			<integer>20160513</integer>
			<real>1197.917</real>
			<real>1195.901</real>
			<real>1198.103</real>
			<real>1193.773</real>
			<integer>43027144</integer>
		</array>
		<array>
			<integer>20160516</integer>
			<real>1195.843</real>
			<real>1190.615</real>
			<real>1195.986</real>
			<real>1187.881</real>
			<integer>50824387</integer>
		</array>
		<array>
			<integer>20160517</integer>
			<real>1190.537</real>
			<real>1191.745</real>
			<real>1191.745</real>
			<real>1188.001</real>
			<integer>71776837</integer>
		</array>
		<array>
			<integer>20160518</integer>
			<real>1191.745</real>
			<real>1185.446</real>
			<real>1191.745</real>
			<real>1183.509</real>
			<integer>63243911</integer>
		</array>
		<array>
			<integer>20160519</integer>
			<real>1185.291</real>
			<real>1184.926</real>
			<real>1185.802</real>
			<real>1183.101</real>
			<integer>45798797</integer>
		</array>
		<array>
			<integer>20160520</integer>
			<real>1184.646</real>
			<real>1183.929</real>
			<real>1184.774</real>
			<real>1179.698</real>
			<integer>81354596</integer>
		</array>
		<array>
			<integer>20160523</integer>
			<real>1183.765</real>
			<real>1184.901</real>
			<real>1184.901</real>
			<real>1180.913</real>
			<integer>54866742</integer>
		</array>
		<array>
			<integer>20160524</integer>
			<real>1184.641</real>
			<real>1183.549</real>
			<real>1184.641</real>
			<real>1179.651</real>
			<integer>47853294</integer>
		</array>
		<array>
			<integer>20160525</integer>
			<real>1183.44</real>
			<real>1184.829</real>
			<real>1184.829</real>
			<real>1181.563</real>
			<integer>56779175</integer>
		</array>
		<array>
			<integer>20160526</integer>
			<real>1184.633</real>
			<real>1183.53</real>
			<real>1184.633</real>
			<real>1180.27</real>
			<integer>47681360</integer>
		</array>
		<array>
			<integer>20160527</integer>
			<real>1183.456</real>
			<real>1184.322</real>
			<real>1184.322</real>
			<real>1180.047</real>
			<integer>56574739</integer>
		</array>
		<array>
			<integer>20160530</integer>
			<real>1184.171</real>
			<real>1192.274</real>
			<real>1195.433</real>
			<real>1183.949</real>
			<integer>104711252</integer>
		</array>
		<array>
			<integer>20160531</integer>
			<real>1192.122</real>
			<real>1194.957</real>
			<real>1194.957</real>
			<real>1188.23</real>
			<integer>82388434</integer>
		</array>
		<array>
			<integer>20160601</integer>
			<real>1194.926</real>
			<real>1189.485</real>
			<real>1195.151</real>
			<real>1186.354</real>
			<integer>70862309</integer>
		</array>
		<array>
			<integer>20160602</integer>
			<real>1189.354</real>
			<real>1186.544</real>
			<real>1189.367</real>
			<real>1184.456</real>
			<integer>61163722</integer>
		</array>
		<array>
			<integer>20160603</integer>
			<real>1186.503</real>
			<real>1185.587</real>
			<real>1186.632</real>
			<real>1181.409</real>
			<integer>45621120</integer>
		</array>
		<array>
			<integer>20160606</integer>
			<real>1185.509</real>
			<real>1181.759</real>
			<real>1185.67</real>
			<real>1180.137</real>
			<integer>47708412</integer>
		</array>
		<array>
			<integer>20160607</integer>
			<real>1181.68</real>
			<real>1178.923</real>
			<real>1182.021</real>
			<real>1175.539</real>
			<integer>47047198</integer>
		</array>
		<array>
			<integer>20160608</integer>
			<real>1178.832</real>
			<real>1175.78</real>
			<real>1178.832</real>
			<real>1172.295</real>
			<integer>51043880</integer>
		</array>
		<array>
			<integer>20160613</integer>
			<real>1175.711</real>
			<real>1169.971</real>
			<real>1175.711</real>
			<real>1168.228</real>
			<integer>64867539</integer>
		</array>
		<array>
			<integer>20160614</integer>
			<real>1169.967</real>
			<real>1162.26</real>
			<real>1169.967</real>
			<real>1158.274</real>
			<integer>52750661</integer>
		</array>
		<array>
			<integer>20160615</integer>
			<real>1162.193</real>
			<real>1159.691</real>
			<real>1162.193</real>
			<real>1156.969</real>
			<integer>54320783</integer>
		</array>
		<array>
			<integer>20160616</integer>
			<real>1159.45</real>
			<real>1157.179</real>
			<real>1159.515</real>
			<real>1155.056</real>
			<integer>58436880</integer>
		</array>
		<array>
			<integer>20160617</integer>
			<real>1157.133</real>
			<real>1157.145</real>
			<real>1157.281</real>
			<real>1154.027</real>
			<integer>49579311</integer>
		</array>
		<array>
			<integer>20160620</integer>
			<real>1157.111</real>
			<real>1159.557</real>
			<real>1159.557</real>
			<real>1156.097</real>
			<integer>49853028</integer>
		</array>
		<array>
			<integer>20160621</integer>
			<real>1159.443</real>
			<real>1159.375</real>
			<real>1159.725</real>
			<real>1156.608</real>
			<integer>44828036</integer>
		</array>
		<array>
			<integer>20160622</integer>
			<real>1159.34</real>
			<real>1156.31</real>
			<real>1159.537</real>
			<real>1153.896</real>
			<integer>45132853</integer>
		</array>
		<array>
			<integer>20160623</integer>
			<real>1156.279</real>
			<real>1152.727</real>
			<real>1156.347</real>
			<real>1150.732</real>
			<integer>48570687</integer>
		</array>
		<array>
			<integer>20160624</integer>
			<real>1152.638</real>
			<real>1151.652</real>
			<real>1152.752</real>
			<real>1147.622</real>
			<integer>53521619</integer>
		</array>
		<array>
			<integer>20160627</integer>
			<real>1151.637</real>
			<real>1145.814</real>
			<real>1151.647</real>
			<real>1143.087</real>
			<integer>102468219</integer>
		</array>
		<array>
			<integer>20160628</integer>
			<real>1145.704</real>
			<real>1142.277</real>
			<real>1145.704</real>
			<real>1139.329</real>
			<integer>85662814</integer>
		</array>
		<array>
			<integer>20160629</integer>
			<real>1142.25</real>
			<real>1142.174</real>
			<real>1142.412</real>
			<real>1137.932</real>
			<integer>48921149</integer>
		</array>
		<array>
			<integer>20160630</integer>
			<real>1142.17</real>
			<real>1144.889</real>
			<real>1144.889</real>
			<real>1135.98</real>
			<integer>43416858</integer>
		</array>
		<array>
			<integer>20160701</integer>
			<real>1144.879</real>
			<real>1140.258</real>
			<real>1145.342</real>
			<real>1137.315</real>
			<integer>51720187</integer>
		</array>
		<array>
			<integer>20160704</integer>
			<real>1140.241</real>
			<real>1141.105</real>
			<real>1141.105</real>
			<real>1133</real>
			<integer>53254338</integer>
		</array>
		<array>
			<integer>20160705</integer>
			<real>1141.083</real>
			<real>1143.014</real>
			<real>1143.014</real>
			<real>1140.776</real>
			<integer>66112751</integer>
		</array>
		<array>
			<integer>20160706</integer>
			<real>1142.973</real>
			<real>1140.544</real>
			<real>1143.101</real>
			<real>1138.52</real>
			<integer>54637221</integer>
		</array>
		<array>
			<integer>20160707</integer>
			<real>1140.538</real>
			<real>1138.583</real>
			<real>1140.578</real>
			<real>1137.042</real>
			<integer>49039089</integer>
		</array>
		<array>
			<integer>20160708</integer>
			<real>1138.551</real>
			<real>1138.36</real>
			<real>1138.551</real>
			<real>1135.536</real>
			<integer>46292559</integer>
		</array>
		<array>
			<integer>20160711</integer>
			<real>1138.338</real>
			<real>1137.822</real>
			<real>1138.634</real>
			<real>1135.855</real>
			<integer>71530461</integer>
		</array>
		<array>
			<integer>20160712</integer>
			<real>1137.822</real>
			<real>1136.285</real>
			<real>1138.059</real>
			<real>1133.285</real>
			<integer>60480626</integer>
		</array>
		<array>
			<integer>20160713</integer>
			<real>1136.272</real>
			<real>1132.957</real>
			<real>1136.467</real>
			<real>1130.551</real>
			<integer>38085311</integer>
		</array>
		<array>
			<integer>20160714</integer>
			<real>1132.911</real>
			<real>1130.29</real>
			<real>1133.365</real>
			<real>1128.114</real>
			<integer>41406076</integer>
		</array>
		<array>
			<integer>20160718</integer>
			<real>1126.655</real>
			<real>1122.655</real>
			<real>1126.655</real>
			<real>1119.063</real>
			<integer>37735325</integer>
		</array>
		<array>
			<integer>20160719</integer>
			<real>1122.593</real>
			<real>1120.437</real>
			<real>1122.593</real>
			<real>1117.745</real>
			<integer>51178843</integer>
		</array>
		<array>
			<integer>20160720</integer>
			<real>1120.407</real>
			<real>1119.323</real>
			<real>1120.466</real>
			<real>1116.477</real>
			<integer>40566755</integer>
		</array>
		<array>
			<integer>20160721</integer>
			<real>1119.323</real>
			<real>1118.092</real>
			<real>1119.379</real>
			<real>1115.772</real>
			<integer>34927941</integer>
		</array>
		<array>
			<integer>20160722</integer>
			<real>1118.092</real>
			<real>1117.298</real>
			<real>1118.092</real>
			<real>1113.997</real>
			<integer>45927280</integer>
		</array>
		<array>
			<integer>20160725</integer>
			<real>1117.298</real>
			<real>1113.521</real>
			<real>1117.298</real>
			<real>1111.692</real>
			<integer>44521850</integer>
		</array>
		<array>
			<integer>20160726</integer>
			<real>1113.521</real>
			<real>1112.509</real>
			<real>1113.521</real>
			<real>1110.023</real>
			<integer>38861701</integer>
		</array>
		<array>
			<integer>20160727</integer>
			<real>1112.509</real>
			<real>1106.96</real>
			<real>1112.595</real>
			<real>1104.13</real>
			<integer>50586670</integer>
		</array>
		<array>
			<integer>20160728</integer>
			<real>1106.96</real>
			<real>1104.579</real>
			<real>1106.96</real>
			<real>1102.179</real>
			<integer>42927440</integer>
		</array>
		<array>
			<integer>20160802</integer>
			<real>1099.322</real>
			<real>1097.079</real>
			<real>1099.454</real>
			<real>1094.805</real>
			<integer>29860912</integer>
		</array>
		<array>
			<integer>20160803</integer>
			<real>1097.073</real>
			<real>1096.239</real>
			<real>1097.073</real>
			<real>1092.986</real>
			<integer>28967489</integer>
		</array>
		<array>
			<integer>20160804</integer>
			<real>1096.239</real>
			<real>1094.592</real>
			<real>1096.239</real>
			<real>1091.321</real>
			<integer>27532260</integer>
		</array>
		<array>
			<integer>20160805</integer>
			<real>1094.58</real>
			<real>1095.113</real>
			<real>1095.113</real>
			<real>1091.892</real>
			<integer>33452161</integer>
		</array>
		<array>
			<integer>20160808</integer>
			<real>1095.113</real>
			<real>1093.894</real>
			<real>1095.113</real>
			<real>1091.091</real>
			<integer>41612015</integer>
		</array>
		<array>
			<integer>20160809</integer>
			<real>1093.894</real>
			<real>1095.625</real>
			<real>1095.625</real>
			<real>1093.117</real>
			<integer>32917322</integer>
		</array>
		<array>
			<integer>20160810</integer>
			<real>1095.586</real>
			<real>1094.32</real>
			<real>1095.987</real>
			<real>1091.682</real>
			<integer>25660747</integer>
		</array>
		<array>
			<integer>20160811</integer>
			<real>1094.32</real>
			<real>1093.854</real>
			<real>1094.32</real>
			<real>1090.707</real>
			<integer>32246648</integer>
		</array>
		<array>
			<integer>20160812</integer>
			<real>1093.854</real>
			<real>1091.063</real>
			<real>1093.854</real>
			<real>1087.706</real>
			<integer>37817289</integer>
		</array>
		<array>
			<integer>20160815</integer>
			<real>1091.063</real>
			<real>1091.475</real>
			<real>1091.475</real>
			<real>1088.261</real>
			<integer>49999029</integer>
		</array>
		<array>
			<integer>20160816</integer>
			<real>1091.475</real>
			<real>1091.929</real>
			<real>1091.929</real>
			<real>1088.482</real>
			<integer>46812968</integer>
		</array>
		<array>
			<integer>20160817</integer>
			<real>1091.929</real>
			<real>1089.768</real>
			<real>1091.929</real>
			<real>1087.039</real>
			<integer>36446387</integer>
		</array>
		<array>
			<integer>20160818</integer>
			<real>1089.768</real>
			<real>1088.532</real>
			<real>1089.785</real>
			<real>1084.4</real>
			<integer>39445430</integer>
		</array>
		<array>
			<integer>20160819</integer>
			<real>1088.532</real>
			<real>1087.634</real>
			<real>1088.532</real>
			<real>1083.882</real>
			<integer>27833650</integer>
		</array>
		<array>
			<integer>20160822</integer>
			<real>1087.634</real>
			<real>1088.074</real>
			<real>1088.074</real>
			<real>1084.284</real>
			<integer>34263796</integer>
		</array>
		<array>
			<integer>20160823</integer>
			<real>1088.074</real>
			<real>1086.534</real>
			<real>1088.074</real>
			<real>1083.655</real>
			<integer>48662620</integer>
		</array>
		<array>
			<integer>20160824</integer>
			<real>1086.534</real>
			<real>1084.94</real>
			<real>1086.534</real>
			<real>1082.629</real>
			<integer>70612248</integer>
		</array>
		<array>
			<integer>20160825</integer>
			<real>1084.94</real>
			<real>1082.781</real>
			<real>1084.94</real>
			<real>1079.054</real>
			<integer>46500592</integer>
		</array>
		<array>
			<integer>20160826</integer>
			<real>1082.781</real>
			<real>1081.328</real>
			<real>1082.781</real>
			<real>1079.753</real>
			<integer>39519720</integer>
		</array>
		<array>
			<integer>20160829</integer>
			<real>1081.328</real>
			<real>1080.47</real>
			<real>1082.227</real>
			<real>1077.937</real>
			<integer>41889824</integer>
		</array>
		<array>
			<integer>20160830</integer>
			<real>1080.47</real>
			<real>1079.477</real>
			<real>1080.656</real>
			<real>1076.619</real>
			<integer>39271930</integer>
		</array>
		<array>
			<integer>20160831</integer>
			<real>1079.402</real>
			<real>1079.48</real>
			<real>1079.659</real>
			<real>1073.47</real>
			<integer>39415359</integer>
		</array>
		<array>
			<integer>20160901</integer>
			<real>1079.48</real>
			<real>1075.939</real>
			<real>1079.48</real>
			<real>1073.931</real>
			<integer>40235408</integer>
		</array>
		<array>
			<integer>20160902</integer>
			<real>1075.939</real>
			<real>1077.001</real>
			<real>1077.052</real>
			<real>1073.737</real>
			<integer>47221049</integer>
		</array>
		<array>
			<integer>20160905</integer>
			<real>1077.001</real>
			<real>1076.997</real>
			<real>1077.437</real>
			<real>1074.621</real>
			<integer>36600689</integer>
		</array>
		<array>
			<integer>20160906</integer>
			<real>1076.993</real>
			<real>1078.176</real>
			<real>1078.176</real>
			<real>1074.402</real>
			<integer>46128846</integer>
		</array>
		<array>
			<integer>20160907</integer>
			<real>1078.176</real>
			<real>1079.129</real>
			<real>1081.002</real>
			<real>1077.216</real>
			<integer>49379269</integer>
		</array>
		<array>
			<integer>20160908</integer>
			<real>1079.129</real>
			<real>1080.292</real>
			<real>1080.292</real>
			<real>1077.954</real>
			<integer>43926710</integer>
		</array>
		<array>
			<integer>20160909</integer>
			<real>1080.174</real>
			<real>1083.545</real>
			<real>1083.582</real>
			<real>1080.136</real>
			<integer>61363250</integer>
		</array>
		<array>
			<integer>20160912</integer>
			<real>1083.457</real>
			<real>1086.294</real>
			<real>1086.827</real>
			<real>1083.422</real>
			<integer>68058188</integer>
		</array>
		<array>
			<integer>20160913</integer>
			<real>1086.193</real>
			<real>1085.786</real>
			<real>1087.398</real>
			<real>1084.973</real>
			<integer>57296545</integer>
		</array>
		<array>
			<integer>20160914</integer>
			<real>1085.731</real>
			<real>1090.499</real>
			<real>1090.499</real>
			<real>1085.324</real>
			<integer>53427761</integer>
		</array>
		<array>
			<integer>20160919</integer>
			<real>1090.435</real>
			<real>1094.379</real>
			<real>1094.379</real>
			<real>1090.435</real>
			<integer>59739933</integer>
		</array>
		<array>
			<integer>20160920</integer>
			<real>1094.267</real>
			<real>1094.373</real>
			<real>1094.471</real>
			<real>1091.97</real>
			<integer>55553122</integer>
		</array>
		<array>
			<integer>20160921</integer>
			<real>1094.373</real>
			<real>1097.377</real>
			<real>1097.377</real>
			<real>1093.649</real>
			<integer>52242711</integer>
		</array>
		<array>
			<integer>20160922</integer>
			<real>1097.295</real>
			<real>1096.792</real>
			<real>1097.74</real>
			<real>1094.099</real>
			<integer>52985570</integer>
		</array>
		<array>
			<integer>20160923</integer>
			<real>1096.792</real>
			<real>1098.626</real>
			<real>1098.626</real>
			<real>1095.75</real>
			<integer>54294354</integer>
		</array>
		<array>
			<integer>20160926</integer>
			<real>1098.602</real>
			<real>1094.011</real>
			<real>1098.624</real>
			<real>1092.161</real>
			<integer>47409889</integer>
		</array>
		<array>
			<integer>20160927</integer>
			<real>1093.978</real>
			<real>1091.848</real>
			<real>1093.978</real>
			<real>1088.303</real>
			<integer>50343616</integer>
		</array>
		<array>
			<integer>20160928</integer>
			<real>1091.794</real>
			<real>1089.862</real>
			<real>1091.833</real>
			<real>1087.601</real>
			<integer>42493061</integer>
		</array>
		<array>
			<integer>20160929</integer>
			<real>1089.814</real>
			<real>1089.373</real>
			<real>1089.883</real>
			<real>1086.17</real>
			<integer>55481230</integer>
		</array>
		<array>
			<integer>20160930</integer>
			<real>1089.373</real>
			<real>1093.766</real>
			<real>1093.766</real>
			<real>1086.126</real>
			<integer>53501050</integer>
		</array>
		<array>
			<integer>20161010</integer>
			<real>1093.766</real>
			<real>1090.449</real>
			<real>1093.766</real>
			<real>1088.149</real>
			<integer>49877143</integer>
		</array>
		<array>
			<integer>20161011</integer>
			<real>1090.437</real>
			<real>1089.055</real>
			<real>1090.895</real>
			<real>1087.508</real>
			<integer>63931766</integer>
		</array>
		<array>
			<integer>20161012</integer>
			<real>1089.042</real>
			<real>1086.907</real>
			<real>1089.076</real>
			<real>1085.119</real>
			<integer>51500965</integer>
		</array>
		<array>
			<integer>20161013</integer>
			<real>1086.907</real>
			<real>1084.534</real>
			<real>1087.702</real>
			<real>1083.053</real>
			<integer>58625740</integer>
		</array>
		<array>
			<integer>20161014</integer>
			<real>1084.534</real>
			<real>1085.514</real>
			<real>1085.514</real>
			<real>1082.156</real>
			<integer>45812197</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1085.514</real>
			<real>1084.099</real>
			<real>1085.84</real>
			<real>1082.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1085.514</real>
			<real>1084.099</real>
			<real>1085.84</real>
			<real>1082.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1087.514</real>
			<real>1085.099</real>
			<real>1089.84</real>
			<real>1088.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1089.514</real>
			<real>1092.099</real>
			<real>1083.84</real>
			<real>1085.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1088.514</real>
			<real>1093.099</real>
			<real>1086.84</real>
			<real>1092.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1084.514</real>
			<real>1090.6</real>
			<real>1083.84</real>
			<real>1089.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1085.514</real>
			<real>1092.099</real>
			<real>1084.84</real>
			<real>1089.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1085.514</real>
			<real>1090.099</real>
			<real>1085.84</real>
			<real>1089.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1087.514</real>
			<real>1089.099</real>
			<real>1095.84</real>
			<real>1089.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1088.514</real>
			<real>1091.099</real>
			<real>1086.84</real>
			<real>1088.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1086.514</real>
			<real>1091.099</real>
			<real>1083.84</real>
			<real>1090.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1088.514</real>
			<real>1092.099</real>
			<real>1086.84</real>
			<real>1091.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1088.514</real>
			<real>1090.099</real>
			<real>1087.84</real>
			<real>1089.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1090.514</real>
			<real>1096.099</real>
			<real>1088.84</real>
			<real>1093.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1090.514</real>
			<real>1093.099</real>
			<real>1088.84</real>
			<real>1092.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1092.514</real>
			<real>1094.099</real>
			<real>1087.84</real>
			<real>1088.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1092.514</real>
			<real>1093.099</real>
			<real>1086.84</real>
			<real>1087.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1093.514</real>
			<real>1097.099</real>
			<real>1090.84</real>
			<real>1095.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1092.514</real>
			<real>1093.099</real>
			<real>1087.84</real>
			<real>1090.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1089.514</real>
			<real>1092.099</real>
			<real>1087.84</real>
			<real>1090.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1086.514</real>
			<real>1091.099</real>
			<real>1084.84</real>
			<real>1090.49</real>
			<real>46291803</real>
		</array>
		<array>
			<integer>20161017</integer>
			<real>1086.514</real>
			<real>1090.099</real>
			<real>1085.84</real>
			<real>1089.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1090.514</real>
			<real>1094.099</real>
			<real>1089.84</real>
			<real>1093.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1086.514</real>
			<real>1089.099</real>
			<real>1083.84</real>
			<real>1088.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1089.514</real>
			<real>1091.099</real>
			<real>1085.84</real>
			<real>1087.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1086.514</real>
			<real>1085.099</real>
			<real>1091.84</real>
			<real>1090.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1088.514</real>
			<real>1090.099</real>
			<real>1085.84</real>
			<real>1086.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1089.514</real>
			<real>1090.099</real>
			<real>1085.84</real>
			<real>1086.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1089.514</real>
			<real>1091.099</real>
			<real>1088.84</real>
			<real>1090.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1092.514</real>
			<real>1096.099</real>
			<real>1090.84</real>
			<real>1091.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1093.514</real>
			<real>1095.099</real>
			<real>1090.84</real>
			<real>1093.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1095.3</real>
			<real>1097.09</real>
			<real>1094.84</real>
			<real>1096.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1094.514</real>
			<real>1099.099</real>
			<real>1092.84</real>
			<real>1099.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1099.514</real>
			<real>1099.8</real>
			<real>1096.84</real>
			<real>1098.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1097.514</real>
			<real>1099.099</real>
			<real>1096.84</real>
			<real>1098.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1095.514</real>
			<real>1098.099</real>
			<real>1091.84</real>
			<real>1096.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1091.514</real>
			<real>1095.099</real>
			<real>1090.84</real>
			<real>1093.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1093.514</real>
			<real>1089.099</real>
			<real>1090.84</real>
			<real>1091.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1091.514</real>
			<real>1094.099</real>
			<real>1090.84</real>
			<real>1093.49</real>
			<real>46291803</real>
		</array>
		<array>
			<real>20161017</real>
			<real>1092.514</real>
			<real>1090.099</real>
			<real>1088.84</real>
			<real>1091.49</real>
			<integer>46291803</integer>
		</array>
		<array>
			<integer>20161017</integer>
			<integer>1103</integer>
			<real>1105.099</real>
			<real>1098.84</real>
			<real>1099.49</real>
			<integer>46291803</integer>
		</array>
	</array>
</dict>
</plist>
